<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="countArray">

  <ion-card button ion-item (click)="navTo('html')">
    <ion-card-header class="center-align">
      <ion-card-title class="icon-html5">
        <ion-icon name="logo-html5"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle>HTML5</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="count-display html5-bg">
      {{countArray['html']?countArray['html']:0}}
    </ion-card-content>
  </ion-card>

  <ion-card button ion-item (click)="navTo('css')">
    <ion-card-header class="center-align">
      <ion-card-title class="icon-css3">
        <ion-icon name="logo-css3"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle>CSS3</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="count-display css3-bg">
      {{countArray['css']?countArray['css']:0}}
    </ion-card-content>
  </ion-card>

  <ion-card button ion-item (click)="navTo('javascript')">
    <ion-card-header class="center-align">
      <ion-card-title class="icon-javascript">
        <ion-icon name="logo-javascript"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle>JAVASCRIPT</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="count-display javascript-bg">
      {{countArray['javascript']?countArray['javascript']:0}}
    </ion-card-content>
  </ion-card>

  <ion-card button ion-item (click)="navTo('bootstrap')">
    <ion-card-header class="center-align">
      <ion-card-title class="icon-brush">
        <ion-icon name="brush"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle>BOOTSTRAP</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="count-display brush-bg">
      {{countArray['bootstrap']?countArray['bootstrap']:0}}
    </ion-card-content>
  </ion-card>

  <ion-card button ion-item (click)="navTo('angular')">
    <ion-card-header class="center-align">
      <ion-card-title class="icon-angular">
        <ion-icon name="logo-angular"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle>ANGULAR</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="count-display angular-bg">
      {{countArray['angular']?countArray['angular']:0}}
    </ion-card-content>
  </ion-card>

</ion-content>