<ion-split-pane contentId="content-menu">
  <ion-menu contentId="content-menu">
    <ion-header class="side-menu-header">
      <ion-toolbar color="#b8afbe" class="ion-padding" (click)="editProfile()">
        <div class="logo-section">
          <div class="logo-section__wrapper">
            <img class="logo-section__logo" [src]="profURL" />
            <div class="logo-section__title">{{profName}}</div>
            <div class="logo-section__subtitle">{{profEmail}}</div>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
          <ion-item [routerLink]="['/menu/' + page.url]" [class.active-item]="this.selectedPath.includes(page.url)">
            {{page.title}}
          </ion-item>
        </ion-menu-toggle>

        <ion-item (click)="logoutUser()" class="logout_btn">
          <ion-button>
            <ion-icon slot="icon-only" name="log-out"></ion-icon>logout
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content-menu"></ion-router-outlet>
</ion-split-pane>